
# Ignore node_modules
node_modules

# Ignore Python cache and virtual environments
__pycache__
*.pyc
*.pyo
*.pyd
env/
venv/

# Ignore version control directories
.git
.gitignore

# Ignore other temporary files
*.swp
*.log
*.tmp

.env
.pytest_cache/
README.md